.review__card{
    width: 100%;
    padding: 20px 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 10px 0;
}

.review__card>p{
    text-align: justify;
}
